#signup-form{
  max-width: 720px;
  background-color: white;
  color: #88BBD6;
  margin: auto;
  padding: 2vw;
}

.signup-input{
  margin: 15px;
  text-align: center;
}

h1{
  text-align: center;
  font-size: 2em;
}

.button-big{
  height: 50px;
  width: 150px;
  background-color: #88BBD6;
  text-align: center;
  font-size: 1.6em;
  margin-left: calc(50% - 75px);
}

.button-big:hover{
  background-color: #99D3DF;
  cursor: pointer;
}
